amp-analytics(type="gtag")
  script(type="application/json", data-credentials="include").
    {
      "vars": {
        "gtag_id": "UA-91876100-2",
        "config": {
          "UA-91876100-2": {
            "groups": "default"
          }
        }
      }
    }
