style(amp-custom).
  body {
    color: #333;
    font-family: Verdana;
    border-top: 0.5rem solid #f94a7a;
  }

  .wrapper {
    display: grid;
    place-items: center;
  }

  .wrapper p {
    font-size: 2rem;
    color: #f94a7a;
  }
