extends includes/amp.pug

block analytics
  include includes/analytics-gtag

block styles
  style(amp-custom='').

    .error {
      background-color: #f94a7a;
      color: white !important;
      padding: 1rem;
    }

block body
  div.wrapper
    p.error 404 :(
