extends includes/amp.pug

block styles
  style(amp-custom='').

block analytics
  include includes/analytics-gtag

block body
  div.wrapper
    p.title Hello AMP SxG!

    p.top.regular
      span Regular
    p.top.sxg
      span SxG

    a.active.regular(href="/index.html") index.html
    a.active.sxg(href="/index.html.sxg") index.html.sxg

    a.regular(href="/1.html") 1.html
    a.sxg(href="/1.html.sxg") 1.html.sxg

    a.regular(href="/2.html") 2.html
    a.sxg(href="/2.html.sxg") 2.html.sxg

    a.regular(href="/3.html") 3.html
    a.sxg(href="/3.html.sxg") 3.html.sxg
